/*main*/

main{
    padding: 7rem 0 7rem;
}

    main .posts{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        main .posts .card{
            margin-bottom: 8.25rem;
            width: calc(33.333% - 1.75rem);
            box-sizing: border-box;
            cursor: pointer;
        }

            main .posts .card:hover{
                margin-top: -0.25rem;
            }

        main .posts .card .post-thumbnail{
            margin-bottom: 1.5rem;
        }

            main .posts .card .post-thumbnail img{
                max-width: 100%;
                border-radius: 8px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            }

        main .posts .card .post-meta{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1.5rem;
            color: #868686;
        }

            main .posts .card .post-meta .post-date, main .posts .card .post-meta .post-author{
                font-size: 0.95rem;
            }

            main .posts .card .post-meta .post-author::after{
                content: "•";
                margin: 0 .25rem;
            }

        main .posts .card h2.post-title{
            font-weight: 400;
        }

        main .posts a{
            text-decoration: none;
        }

        main .posts h2{
            color:#111;
        }

        main .posts .card .post-excerpt{
            color: #868686;
            line-height: 1.4;
            font-size: 0.9rem;
        }

        main .posts .card .post-tags{
            margin-top:1.5rem;
        }
            a.tag{
                color: #868686;
                text-decoration: none;
                font-size: 0.85rem;
                border: 1px solid #868686;
                padding: .15rem .45rem;
                border-radius: 15px;
            }

            a.tag:hover{
                color: #111;
                border-color: #111;
            }
    
    main .single-blog-post{
        display: flex;
        justify-content: center;
    }

        main .single-blog-post .post{
            width: calc(70% - 1.75rem);
        }

        main .single-blog-post .sidebar{
            width: calc(35% - 1.75rem);
        }

        main .single-blog-post article.article h1{
            font-size: 3.15rem;
            font-weight: 400;
            margin-bottom: 1.75rem;
        }

        main .single-blog-post article.article h2{
            font-size: 2.15rem;
            font-weight: 400;
            margin-bottom: 0.75rem;
        }

        main .single-blog-post article.article .post-meta{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1.5rem;
            color: #868686;
        }

            main .single-blog-post article.article .post-meta .post-date, main .single-blog-post article.article .post-meta .post-author{
                font-size: 0.95rem;
            }

            main .single-blog-post article.article .post-meta .post-author::after{
                content: "•";
                margin: 0 .25rem;
            }

        main .single-blog-post article.article .post-featured-image img{
            max-width: 100%;
            border-radius: 8px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            margin: 0.75rem 0 0rem;
        }

        main .single-blog-post article.article .post-content{
            line-height: 1.6;
            font-size: 1.015rem;
            padding: 0 6rem;
        }

        main .single-blog-post article.article .post-content img{
            margin:2rem 0;
            max-width: 100%;
            border-radius: 8px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        }

        .post-content p{
            margin-bottom: 2.5rem;
        }

        .post-content figcaption{
            text-align: center;
            margin-top: -20px;
            color:#999;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .post-content blockquote{
            background: #ede3f7;
            padding: 2.5rem;
            border-radius: 8px;
            margin-bottom: 2.5rem;
        }

            .post-content blockquote .quote{
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.25;
                margin-bottom: 1rem;
            }

            .post-content blockquote .source{
                font-weight: 600;
                color: rgb(85, 26, 139);
            }

        .post-content .social-share{
            display: flex;
            align-items: center;
        }

            .post-content .social-share .label{
                font-size: 1.25rem;
                font-weight: 500;
                margin-right: 1rem;
            }

            .post-content .social-share a{
                color: #868686;
                font-size: 1.75rem;
                margin-right: 0.75rem;
            }

            .post-content .social-share a:hover{
                color: rgb(85, 26, 139)
            }

        .post-content .about-author{
            text-align: center;
            background: #f8f8f8;
            border-radius: 8px;
            padding: 2rem;
        }

        .post-content .about-author img{
            width: 84px;
            height: 84px;
            border-radius: 50%!important;
            margin: 0!important;
        }

        .post-content .about-author h5{
            font-weight: 100;
            font-size: 1.25rem;
            margin: 1rem 0;
        }

        .post-content .about-author p{
            margin: 0 auto 2rem;
            width: 70%;
        }